<html xmlns:f="http://typo3.org/ns/typo3/fluid/viewhelpers"
      xmlns:m="http://typo3.org/ns/Fab/Media/ViewHelpers"
      xmlns:v="http://typo3.org/ns/Fab/Vidi/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">

	<div id="wrap">

		<div id="content-header">
			<div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation">
				<div class="module-docheader-bar-column-left">

				</div>
				<div class="module-docheader-bar-column-right">

				</div>
			</div>
			<div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons">
				<div class="module-docheader-bar-column-left">

					<f:render partial="CloseButton"/>

					<a href="#" class="btn btn-default btn-create-link" accesskey="s" title="{f:translate(key:'create_link')}">
						<f:format.raw>
							<v:sprite name="apps-pagetree-page-shortcut-external-root"/>
						</f:format.raw>
					</a>

				</div>
				<div class="module-docheader-bar-column-right">

				</div>
			</div>
		</div>

		<!-- identifier for the *middle* part for identification in the global view -->
		<div id="content-body">
			<div class="container">

				<f:form method="post" name="asset"
				        object="{file}" arguments="{format: 'json'}" id="form-action-linkCreator">

					<div class="form-group">
						<f:format.raw>
							<m:file.thumbnail file="{file}" output="imageWrapped"/>
						</f:format.raw>
					</div>

					<div class="form-group">
						<label for="file-title">
							<f:translate key="title"/>
						</label>

						<div class="controls">
							<f:form.textfield property="title"
							                  id="file-title"
							                  class="form-control"
							                  value="{m:file.property(name: 'title')}"/>
						</div>
					</div>

					<div class="form-group">
						<label for="file-target">
							<f:translate key="open_file"/>
						</label>

						<div class="controls">
							<f:form.select id="file-target"
							               options="{_blank: 'in a new window', _self: 'in the same window'}"
							               class="form-control"/>
						</div>
					</div>

					<div class="form-group">
						<label for="file-class">
							<f:translate key="class"/>
						</label>

						<div class="controls">
							<f:form.select id="file-class"
							               options="{null: '', external-link: 'external-link', download: 'download'}"
							               class="form-control"/>
						</div>
					</div>

					<f:form.hidden id="file-uid" property="uid" value="{m:file.property(name: 'uid')}"/>
					<div style="visibility: hidden">
						<f:form.submit value="submit"/>
					</div>
				</f:form>


			</div>
			<div id="push"></div>
		</div>

		<!-- identifier for the *footer* part for identification in the global view -->
		<div id="content-footer">
			<div class="footer">
				<div class="container">
					<p class="footer-container pull-right">
						<f:format.raw>
							<m:form.footer/>
						</f:format.raw>
					</p>
				</div>
			</div>

			<script type="text/javascript">

				$(function() {

					/**
					 * Prevent the form to be submitted as such.
					 * Fire a click on ".btn-create-link".
					 */
					$('#form-action-linkCreator').submit(function(e) {
						e.preventDefault();
						$('.btn-create-link').click();
					});

					$('.btn-create-link').click(function() {
						var params = {};
						params.titleAttribute = $('#file-title').val();
						params.classAttribute = $('#file-class').val() == 'null' ? '' : $('#file-class').val();
						params.targetAttribute = $('#file-target').val();
						params.hrefAttribute = '?file:' + $('#file-uid').val();
						if (window.opener) {
							window.opener.Media.LinkCreator.createDocumentLink(params);
							window.close();
						}
					});
				});
			</script>
		</div>
	</div>

</f:section>
</html>
