<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:m="http://typo3.org/ns/media/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">

	<div class="navbar navbar-fixed-top">
		<div class="navbar-typo3">
			<div class="container-fluid">

				<div>
					<div id="navbar-main">
						<div class="row-fluid">
							<div class="span6">

								<f:form method="post" action="create" enctype="multipart/form-data"
								        name="asset" object="{asset}" arguments="{format: 'json'}" class="form-upload form-inline">

									<m:form.fileUpload>
										<script type="text/javascript">
											// Callback action after file upload
											if (responseJSON.uid) {

												// Remove filter, order, page browse, ...
												Media.table.fnResetDisplay();

												$('.qq-upload-list', this).html('');
												var mediaTitle = responseJSON.name == '' ? responseJSON.uid : responseJSON.name;
												message = Media.format('message-created', mediaTitle);
												Media.FlashMessage.add(message, 'success');
											}
										</script>
									</m:form.fileUpload>
								</f:form>
							</div>
							<div class="span6 toolbar-left">

								<f:if condition="{m:isAdmin()}">
									<f:link.action controller="Tool" class="btn btn-tool-bar">
										<span class="icon-cog"></span>
									</f:link.action>
								</f:if>

								<div class="btn-group pull-right">
									<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
										<img src="{f:uri.resource(path:'Icons/button-dropdown.png')}" alt=""/>
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu">
										<f:for each="{columns}" key="column" as="configuration" iteration="iterator">
											<li>
												<f:if condition="{m:grid.column.isNotSystem(fieldName: '{column}')}">
													<label class="checkbox inline">
														<f:if condition="{m:grid.column.isVisible(fieldName: '{column}')}">
															<f:then>
																<input class="check-visible-toggle" type="checkbox" name=""
																       value="{iterator.index}"
																       checked="checked"/>
															</f:then>
															<f:else>
																<input class="check-visible-toggle" type="checkbox" name=""
																       value="{iterator.index}"/>
															</f:else>
														</f:if>
														<m:translate.column column="{column}"/>
													</label>
												</f:if>
											</li>
										</f:for>
									</ul>
								</div>

							</div>
						</div>
					</div>

					<div id="navbar-sub" class="ajax-response-header" style="display: none"></div>
				</div>

			</div>
		</div>
	</div>

	<f:flashMessages/>

	<div class="centered flash-message container"></div>

	<div id="container-main">
		<div id="container-main-top" style="width: 98%">

			<table class="table table-striped table-bordered table-hover"
			       id="media-list">
				<thead>
				<tr>
					<f:for each="{columns}" key="column" as="configuration">
						<th>
							<f:if condition="{configuration.html}">
								<f:then>
									<f:format.raw>{configuration.html}</f:format.raw>
								</f:then>
								<f:else>
									<m:translate.column column="{column}"/>
								</f:else>
							</f:if>
						</th>
					</f:for>
				</tr>
				</thead>
				<tbody />
				<tfoot>
				<tr>
					<th colspan="20">
						<div class="btn-group dropup">
							<a class="btn btn-mini dropdown-toggle mass-action disabled" data-toggle="dropdown" href="#" onclick="return false">
								<span class="caret"></span>
								Selected rows will be...
							</a>
							<ul class="dropdown-menu">
								<li><a href="#" class="mass-export-xml">export XML (not implemented)</a></li>
								<li><a href="#" class="mass-export-csv">export CSV (not implemented)</a></li>
								<li class="divider"></li>
								<li><a href="#" class="mass-edit">edit (not implemented)</a></li>
								<li><a href="#" class="mass-delete">delete (in progress...)</a></li>
							</ul>
						</div>
					</th>
				</tr>
				</tfoot>
			</table>

			<f:if condition="{m:isRtePlugin(plugin: 'linkMaker')}">
				<f:link.action id="btn-linkMaker-current" action="linkMaker"
				               class="btn btn-linkMaker" style="display: none">
					{asset.uid}
				</f:link.action>
			</f:if>
			<f:if condition="{m:isRtePlugin(plugin: 'imageMaker')}">
				<f:link.action id="btn-imageMaker-current" action="imageMaker"
				               class="btn btn-imageMaker" style="display: none">
					{asset.uid}
				</f:link.action>
			</f:if>
		</div>
		<div id="container-main-sub" class="ajax-response-body" class="container" style="display: none">
			<div class="container" style="text-align: center">
				<f:image src="{f:uri.resource(path:'Icons/loading.gif')}" alt=""/>
			</div>
		</div>
	</div>

	<div id="footer" class="ajax-response-footer"></div>

</f:section>
</html>
{namespace m=TYPO3\CMS\Media\ViewHelpers}
