<html xmlns:f="http://typo3.org/ns/typo3/fluid/viewhelpers"
      xmlns:m="http://typo3.org/ns/typo3/media/viewhelpers">

<f:layout name="Default"/>

<f:section name="main">


	<div id="wrap">

		<!-- identifier for the *top* part for identification in the global view -->
		<div id="content-header">

			<a href="#" class="btn btn-close" accesskey="c">
				<f:translate key="close"/>
			</a>

			<button type="button" class="btn btn-primary btn-save" accesskey="s">
				<f:translate key="save"/>
			</button>
		</div>


		<!-- identifier for the *middle* part for identification in the global view -->
		<div id="content-body">
			<div class="container">
				<f:flashMessages/>
				<f:render partial="FormErrors"/>
				<f:form method="post" action="create" enctype="multipart/form-data"
				        name="asset" object="{asset}" arguments="{format: 'json'}" id="form-media">

					<m:form.tca object="{asset}"/>
					<f:form.hidden id="asset-uid" property="uid"/>
					<div style="visibility: hidden">
						<f:form.submit value="{f:translate(key: 'save')}"/>
					</div>
				</f:form>

			</div>
			<div id="push"></div>
		</div>

		<!-- identifier for the *footer* part for identification in the global view -->
		<div id="content-footer">
			<div class="footer">
				<div class="container">
					<p class="footer-container pull-right">

					</p>
				</div>
			</div>
		</div>
	</div>

</f:section>
</html>
{namespace m=TYPO3\CMS\Media\ViewHelpers}