<f:form actionUri="{m:uri.move()}" extensionName="vidi" pluginName="{m:moduleSignature()}" id="form-change-storage" method="post"
        additionalAttributes="{onkeyup: 'if (event.keyCode === 13) jQuery(\'.btn-change-storage\').click()'}">

	<!-- additional parameters -->
	<f:form.hidden name="dataType" value="{dataType}"/>
	<input type="hidden" name="search[value]" value="{v:gp(argument: 'search|value')}"/>
	<input type="hidden" name="order[0][column]" value="{v:gp(argument: 'order|0|column')}"/>
	<input type="hidden" name="order[0][dir]" value="{v:gp(argument: 'order|0|dir')}"/>

	<span id="numberOfObjects" style="display: none">{numberOfObjects}</span>

	<label class="control-label">
		<f:format.raw>
			<v:sprite name="apps-filetree-root"/>
			{storageTitle}
		</f:format.raw>
	</label>

	<div class="controls">
		<m:form.select.storage objects="{storages}" />
	</div>

	<!-- HIDDEN SUBMIT BUTTON -->
	<input type="submit" style="visibility: hidden; height: 1px"/>
</f:form>
{namespace v=Fab\Vidi\ViewHelpers}
{namespace m=Fab\Media\ViewHelpers}