<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Media</h1>

<f:flashMessages />

<table  class="tx_media" >
	<tr>
		<th><f:translate key="tx_media.title" /></th>
		<th><f:translate key="tx_media.description" /></th>
		<th><f:translate key="tx_media.keywords" /></th>
		<th>Media type</th>
		<th><f:translate key="tx_media.mime_type" /></th>
		<th><f:translate key="tx_media.extension" /></th>
		<th><f:translate key="tx_media.creation_date" /></th>
		<th><f:translate key="tx_media.modification_date" /></th>
		<th><f:translate key="tx_media.creator_tool" /></th>
		<th><f:translate key="tx_media.download_name" /></th>
		<th><f:translate key="tx_media.identifier" /></th>
		<th><f:translate key="tx_media.creator" /></th>
		<th><f:translate key="tx_media.source" /></th>
		<th><f:translate key="tx_media.alternative" /></th>
		<th><f:translate key="tx_media.caption" /></th>
		<th>File</th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{medias}" as="media">
		<tr>
			<td><f:link.action action="show" arguments="{media : media}"> {media.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{media : media}"> {media.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{media : media}"> {media.keywords}</f:link.action></td>
			<td><f:link.action action="show" arguments="{media : media}"> {media.mediaType.mediatype}</f:link.action></td>
			<td><f:link.action action="show" arguments="{media : media}"> {media.mimeType}</f:link.action></td>
			<td><f:link.action action="show" arguments="{media : media}"> {media.extension}</f:link.action></td>
			<td><f:link.action action="show" arguments="{media : media}"> {media.creationDate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{media : media}"> {media.modificationDate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{media : media}"> {media.creatorTool}</f:link.action></td>
			<td><f:link.action action="show" arguments="{media : media}"> {media.downloadName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{media : media}"> {media.identifier}</f:link.action></td>
			<td><f:link.action action="show" arguments="{media : media}"> {media.creator}</f:link.action></td>
			<td><f:link.action action="show" arguments="{media : media}"> {media.source}</f:link.action></td>
			<td><f:link.action action="show" arguments="{media : media}"> {media.alternative}</f:link.action></td>
			<td><f:link.action action="show" arguments="{media : media}"> {media.caption}</f:link.action></td>
			<td><f:link.action action="show" arguments="{media : media}"> {media.file.name}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{media : media}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{media : media}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Media</f:link.action>
</f:section>