<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:m="http://typo3.org/ns/media/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">

				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				<div class="nav-collapse">
					<div id="navbar-main">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="container" style="padding-left: 10px;">
		<h3>DAM migration</h3>

		<p>
			The script will basically import the records from table <code>tx_dam</code> into <code>sys_file</code>.
			As a first step, it will <b>add a new column </b><code>imported_from_dam</code> into table <code>sys_file</code> for
			telling apart existing
			records to the new imported ones. <b>This new column is not removed at the end</b> of the migration process and is
			left to
			your good care. You can either drop this column or leave it for archive. In the second case, think to declare the column in
			some <code>ext_tables.sql</code> file in order it to survive the Install Tool.
		</p>

		<div class="alert alert-info">
			Each time the script is run, it will first <b>delete all record having the column <code>imported_from_dam = 1</code></b>
			which enables to run the script as many time as needed.
		</div>

		<div class="alert">
			Important! Make sure the DAM records that are going to be imported are accessible by the storage. It has been found
			that the base path of the storage in use is <strong>{publicPath}</strong>. Does it look correct? This segment will be removed when computing the identifier of the file.
		</div>

		<div class="alert">
			Important! The migration script tries it best... Make sure to make a backup of the database beforehand!
		</div>

		<div class="alert alert-error">
			The migration script is not "full-fledged". For now it "only" import records from <code>tx_dam</code> into <code>sys_file</code>.
			There is more than that to do. Check out <a
				href="http://forge.typo3.org/issues/30711">http://forge.typo3.org/issues/30711</a>.
		</div>

		<f:link.action action="migrate" class="btn btn-success">Migrate</f:link.action>

		<h3>Reset DAM migration</h3>
		<ul>
			<li>Flush the imported records</li>
			<li>During the importation process, the script creates new columns for every field which it does not have a
				mapping info. This will will create a bunch of prepended fields with value <code>_dam_imported_*</code>. Use this
				script to clean up <code>sys_file</code> and remove them at once!</li>
		</ul>
		<f:link.action action="reset" class="btn">Reset all</f:link.action>
	</div>

</f:section>
</html>
{namespace m=TYPO3\CMS\Media\ViewHelpers}
