<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:m="http://typo3.org/ns/media/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">

				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				<div class="nav-collapse">
					<div id="navbar-main">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="container" style="padding-left: 10px;">
		<h3>Reset!</h3>
		<f:link.action action="index" class="btn">Back</f:link.action>
	</div>

</f:section>
</html>

