<m:be.container pageTitle="Media" enableJumpToUrl="false" enableClickMenu="false" loadPrototype="false"
				loadScriptaculous="false" loadExtJs="false" loadExtJsTheme="true"
				includeCssFiles="{
		0:'{f:uri.resource(path:\'StyleSheet/bootstrap.css\', extensionName: \'vidi\')}',
		1:'{f:uri.resource(path:\'StyleSheet/bootstrap-responsive.css\', extensionName: \'vidi\')}',
		2:'{f:uri.resource(path:\'StyleSheet/vidi.css\', extensionName: \'vidi\')}',
		3:'{f:uri.resource(path:\'StyleSheet/FileUploader/fineuploader.css\')}'
	}"
				includeJsFiles="{
		0:'{f:uri.resource(path:\'JavaScript/JQuery/jquery-1.9.1.min.js\', extensionName: \'vidi\')}'
		}">


	<f:render section="main"/>

	<m:js name="JQuery/jquery.form.js" extensionName="vidi"/>

	<m:js name="Bootstrap/bootstrap.min.js" extensionName="vidi"/>
	<m:js name="Bootstrap/bootbox.min.js" extensionName="vidi"/>
	<m:js name="Bootstrap/bootstrapx-clickover.js" extensionName="vidi"/>

	<m:js name="Uri/Uri.min.js" extensionName="vidi"/>

	<m:js name="Media.js"/>
	<m:js name="Media.Action.js"/>
	<m:js name="Media.Session.js"/>

</m:be.container>
{namespace m=TYPO3\CMS\Media\ViewHelpers}

