<html xmlns:f="http://typo3.org/ns/typo3/fluid/viewhelpers"
      xmlns:m="http://typo3.org/ns/Fab/Media/ViewHelpers"
      xmlns:v="http://typo3.org/ns/Fab/Vidi/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">

	<div id="wrap">

		<!-- identifier for the *top* part for identification in the global view -->
		<div id="content-header">

			<div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation">
				<div class="module-docheader-bar-column-left">

				</div>
				<div class="module-docheader-bar-column-right">

				</div>
			</div>
			<div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons">
				<div class="module-docheader-bar-column-left">

					<f:render partial="CloseButton"/>

					<a href="#" class="btn btn-default btn-create-image" accesskey="s" title="{f:translate(key:'insert_image')}">
						<f:format.raw>
							<v:sprite name="extensions-media-image-edit"/>
						</f:format.raw>
					</a>

				</div>
				<div class="module-docheader-bar-column-right">

				</div>
			</div>

		</div>


		<!-- identifier for the *middle* part for identification in the global view -->
		<div id="content-body">
			<div class="container" style="text-align: center">
				<f:flashMessages/>

				<!--<ul class="nav nav-tabs">-->
					<!--<li class="active">-->
						<!--<a href="#" id="resized">-->
							<!--<f:translate key="resize"/>-->
						<!--</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="#" id="crop">-->
							<!--<f:translate key="crop"/>-->
						<!--</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a href="#" id="effects">-->
							<!--<f:translate key="effects"/>-->
						<!--</a>-->
					<!--</li>-->
				<!--</ul>-->

				<form class="form-inline">
					<div class="form-group">
						<input id="slider" type="range" min="50" max="" />
					</div>
					<div class="form-group">
						<div class="input-group">
							<label for="width" class="input-group-addon">w</label>
							<input type="text" id="width" class="form-control"/>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<label for="height" class="input-group-addon">h</label>
							<input type="text" id="height" class="form-control"/>
						</div>
					</div>
				</form>

				<div class="container-imageEditor" style="margin-top: 10px">

					<f:form method="post" name="file"
					        object="{file}" id="form-action-imageEditor">

						<div class="container-height"></div>
						<div class="control-group">
							<f:format.raw>
								<m:file.thumbnail file="{file}"
								                  preset="image_medium"
								                  attributes="{class: 'processed-file'}"/>
							</f:format.raw>
						</div>
						<div class="container-width"></div>

						<f:form.hidden id="file-uid" property="uid" value="{m:file.property(name: 'uid')}"/>
						<div style="visibility: hidden">
							<f:form.submit value="submit"/>
						</div>
					</f:form>
				</div>

			</div>
			<div id="push"></div>
		</div>

		<!-- identifier for the *footer* part for identification in the global view -->
		<div id="content-footer">
			<div class="footer">
				<div class="container">
					<p class="footer-container pull-right">
						<f:format.raw>
							<m:form.footer/>
						</f:format.raw>
					</p>
				</div>
			</div>

			<script type="text/javascript">

				(function($) {
					$(function() {


						var fileUid = "{m:file.property(name: 'uid')}" - 0; // cast value to int
						var originalImageWidth = "{m:file.property(name: 'width')}" - 0;
						var originalImageHeight = "{m:file.property(name: 'height')}" - 0;
						var maximalImageWidth = '{m:imageDimension(preset: "image_medium", dimension: "width")}' - 0;
						var maximalImageHeight = '{m:imageDimension(preset: "image_medium", dimension: "height")}' - 0;
						var ratio = originalImageWidth / originalImageHeight;
						var imageWidth, imageHeight, _imageWidth, _imageHeight;
						var moduleUrl = '{moduleUrl -> f:format.raw()}';

						// Compute appropriate width / height given an image can be smaller than "maximalImageWidth".
						_imageWidth = originalImageWidth > maximalImageWidth ? maximalImageWidth : originalImageWidth;
						_imageHeight = originalImageHeight > maximalImageHeight ? maximalImageHeight : originalImageHeight;

						// true for landscape image.
						if (originalImageWidth >= originalImageHeight) {
							imageWidth = _imageWidth;
							imageHeight = Math.ceil(_imageHeight / ratio);
						} else {
							imageWidth = Math.ceil(_imageWidth * ratio);
							imageHeight = _imageHeight
						}

						$('#slider')
								.attr('max', imageWidth)
								.val(imageWidth)
								.change(function() {

									var height = Math.ceil(this.value / ratio);

									// Set input control values.
									$('#width').val(this.value);
									$('#height').val(height);

									// Set image size.
									$('.processed-file').attr({
										width: this.value,
										height: height
									})
								});

						/**
						 * Make the height / width input box smarter by connecting them with the slider.
						 */
						$('#width')
								.val(imageWidth)
								.change(function() {

									// Value can not be bigger than maximalImageWidth
									if ($(this).val() > imageWidth) {
										$(this).val(imageWidth);
									}
									var width = this.value;
									var height = Math.ceil(width / ratio);

									// Set input control values.
									$('#slider').val(width);
									$('#height').val(height);

									// Set image size.
									$('.processed-file').attr({
										width: width,
										height: height
									})
								})
								.bind('keypress', function(e) {
									if (e.keyCode == 13) {
										$('#width').change();
									}
								});

						$('#height')
								.val(imageHeight)
								.change(function() {
									// Value can not be bigger than maximalImageWidth
									if ($(this).val() > imageHeight) {
										$(this).val(imageHeight);
									}
									var height = this.value;
									var width = Math.ceil(height * ratio);

									// Set input control values.
									$('#slider').val(width);
									$('#width').val(width);

									// Set image size.
									$('.processed-file').attr({
										width: width,
										height: height
									})
								})
								.bind('keypress', function(e) {
									if (e.keyCode == 13) {
										$('#height').change();
									}
								});

						/**
						 * Handler when the "create image" button is clicked.
						 */
						$('.btn-create-image').click(function() {
							var processingConfiguration;

							processingConfiguration = {
								width: $('#width').val(),
								height: $('#height').val()
							};

							var parameters = {};
							parameters[Media.parameterPrefix + '[action]'] = 'create';
							parameters[Media.parameterPrefix + '[controller]'] = 'ProcessedFile';
							parameters[Media.parameterPrefix + '[file]'] = fileUid;
							parameters[Media.parameterPrefix + '[processingConfiguration]'] = processingConfiguration;

							// ajax call to create a new Processed File.
							$.ajax({
								type: 'POST',
								url: moduleUrl,
								data: parameters,
								success: function(data) {

									var params = {};
									var hostAndProtocol = location.protocol + '//' + location.host + '/';
									params.tag = '<img src="' + hostAndProtocol + data.publicUrl +
											'" title="' + data.title +
											'" alt="' + data.title +
											'" height="' + data.height +
											'" width="' + data.width +
											'" data-htmlarea-file-uid="' + data.original +
											'" data-htmlarea-file-table="sys_file" ';

									if (window.opener) {
										// Reset previous class names applied against the image tag.
										if (window.opener.Media.ImageEditor.elementNode.className != null) {
											params.tag += 'class="' + window.opener.Media.ImageEditor.elementNode.className + '" ';
										}

										// Reset previous style applied against the image tag.
										if (window.opener.Media.ImageEditor.elementNode.style != null &&
												window.opener.Media.ImageEditor.elementNode.style.cssText != null) {
											params.tag += 'style="' + window.opener.Media.ImageEditor.elementNode.style.cssText + '" ';
										}
										params.tag += '/>';

										// write the "img" tag in the RTE
										window.opener.Media.ImageEditor.insertImage(params);
										window.close();
									}
								}
							});
						});

						/**
						 * Prevent the form to be submitted as such.
						 * Fire a click on ".btn-create-image".
						 */
						$('#form-action-imageEditor').submit(function(e) {
							$('.btn-create-image').click();
							e.preventDefault();
						});

					});
				})(jQuery);
			</script>
		</div>
	</div>

</f:section>
</html>
