<div class="tabbable" xmlns:f="http://typo3.org/ns/typo3/fluid/viewhelpers">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab1" data-toggle="tab">General</a></li>
		<li><a href="#tab2" data-toggle="tab">Category</a></li>
	</ul>
	<div class="tab-content" >

		<div class="tab-pane active" id="tab1">
			<div class="control-group">
				<label class="control-label" for="media-title">
					<f:translate key="tx_media.title"/>
					<span class="required">(required)</span>
				</label>

				<div class="controls">
					<f:form.textfield property="title" id="media-title" class="span6"/>
				</div>
			</div>


			<div class="control-group">
				<label class="control-label" for="media-description">
					<f:translate key="tx_media.description"/>
				</label>

				<div class="controls">
					<f:form.textarea property="description" cols="40" rows="5" id="media-description" class="span6"/>
				</div>
			</div>


			<div class="control-group">
				<label class="control-label" for="media-keywords">
					<f:translate key="tx_media.keywords"/>
				</label>

				<div class="controls">
					<f:form.textfield property="keywords" id="media-keywords" class="span6"/>
				</div>
			</div>


			<div class="control-group">
				<label class="control-label" for="media-source">
					<f:translate key="tx_media.source"/>
				</label>

				<div class="controls">
					<f:form.textfield property="source" id="media-source" class="span6"/>
				</div>
			</div>
			<f:form.hidden property="uid"/>

		</div>
		<div class="tab-pane" id="tab2">
			<p>Howdy, I'm in Section 2.</p>
		</div>
	</div>
</div>

