<table class="tx-media" >
	<tr>
		<td>
			<f:translate key="tx_media.title" />
		</td>
		<td>
			{media.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.description" />
		</td>
		<td>
			{media.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.keywords" />
		</td>
		<td>
			{media.keywords}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.mime_type" />
		</td>
		<td>
			{media.mimeType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.extension" />
		</td>
		<td>
			{media.extension}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.creation_date" />
		</td>
		<td>
			{media.creationDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.modification_date" />
		</td>
		<td>
			{media.modificationDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.creator_tool" />
		</td>
		<td>
			{media.creatorTool}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.download_name" />
		</td>
		<td>
			{media.downloadName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.identifier" />
		</td>
		<td>
			{media.identifier}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.creator" />
		</td>
		<td>
			{media.creator}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.source" />
		</td>
		<td>
			{media.source}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.alternative" />
		</td>
		<td>
			{media.alternative}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_media.caption" />
		</td>
		<td>
			{media.caption}
		</td>
	</tr>
</table>