
/* temporary disable until implementing other image editor tool */
#resize {
	display: none;
}

#form-checkbox-isRecursive,
#form-menu-storage {
	height: 18px;
	margin-bottom: 0;
}


ul.usage-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.category-list {
    list-style: disc;
    margin: 0 0 0 18px;
    padding: 0;
}

select#menu-storage {
    margin: 0;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 0;
    color: #000;
    padding: 0;
    font-size: 12px;
	height: 18px;
	text-align: left;
}