<html xmlns:f="http://typo3.org/ns/typo3/fluid/viewhelpers">

<f:layout name="Default"/>

<f:section name="main">

	<f:flashMessages/>

	<f:render partial="FormErrors"/>

	<f:form method="post" action="update" name="media" object="{media}" arguments="{format: 'json'}" id="form-media">
		<div class="header">
			<!--<button type="button" class="btn-close">×</button>-->
		</div>
		<div class="body">
			<f:render partial="Media/FormFields" arguments="{media:media}"/>
			<a href="#" class="btn disabled">Previous</a>
			<a href="#" class="btn disabled">Next</a>
			<a href="#" class="btn btn-close">Close</a>
			<f:form.submit value="Save" class="btn btn-primary"/>
		</div>
	</f:form>
</f:section>
</html>
