<f:layout name="Default"/>

<f:section name="main">
	<f:link.action action="new">New Media</f:link.action>

	<f:flashMessages/>

	<table class="tx_media table table-condensed table-hover table-bordered .table-striped">
		<tr>
			<thead>
			<th>
				<f:translate key="tx_media.title"/>
			</th>
			<th>
				<f:translate key="tx_media.creation_date"/>
			</th>
			<th>
				<f:translate key="tx_media.modification_date"/>
			</th>
			<th></th>
			<th></th>
			</thead>
		</tr>

		<tbody>

		<f:for each="{medias}" as="media">
			<tr>
				<td>
					<f:link.action action="show" arguments="{media : media}"> {media.title}</f:link.action>
				</td>
				<td>
					<f:link.action action="show" arguments="{media : media}"> {media.creationDate -> f:format.date()}
					</f:link.action>
				</td>
				<td>
					<f:link.action action="show" arguments="{media : media}"> {media.modificationDate -> f:format.date()}
					</f:link.action>
				</td>
				<td>
					<!--<f:link.action action="edit" arguments="{media : media}">Edit</f:link.action>-->
				</td>
				<td>
					<!--<f:link.action action="delete" arguments="{media : media}">Delete</f:link.action>-->
				</td>
			</tr>
		</f:for>
		</tbody>
	</table>

</f:section>