<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">


<f:layout name="Default"/>

<f:section name="main">
	<f:link.action action="new">New Media</f:link.action>

	<f:flashMessages/>

	<div class="centered flash-message container"></div>

	<!--<table id="tx-media-list" class="table table-condensed table-hover table-bordered .table-striped">-->
	<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-hover" id="example">
		<thead>
		<tr>
			<th>#</th>
			<th>
				todo: check
			</th>
			<th>&nbsp;</th>
			<th>
				<f:translate key="tx_media.title"/>
			</th>
			<th>
				<f:translate key="tx_media.description"/>
			</th>
			<th>
				<f:translate key="tx_media.category"/>
			</th>
			<th>
				<f:translate key="tx_media.status"/>
			</th>
			<th>
				<f:translate key="tx_media.file_name"/>
			</th>
			<th>
				<f:translate key="tx_media.language"/>
			</th>
			<th>
				<f:translate key="tx_media.author"/>
			</th>
			<th>
				<f:translate key="tx_media.permission"/>
			</th>
			<th>
				<f:translate key="tx_media.creation_date"/>
			</th>
			<th>
				<f:translate key="tx_media.modification_date"/>
			</th>
			<th>&nbsp;</th>
		</tr>
		</thead>

		<tbody>

		</tbody>
	</table>

</f:section>
</html>
