/*
 * To be included in some general stylesheet
 */

.dropdown-menu label {
	padding-left: 25px;
}

.thumbnail {
	display: block;
	margin: 0px auto;
}

.metadata {
	font-size: 7pt;
	color: rgb(119, 119, 119);
}

.center {
	text-align: center;
}
