/*
 * To be included in some general stylesheet
 */

html,
body {
	height: 97%;
	padding-top: 30px;
	background-color: #F8F8F8;
	/* padding-top because of the nav bar */
	/* height 97% because of the padding-top... */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.btn,
input,
label {
	font-size: 11px;
}

/* @todo include these styles into Scss and re-generate Css */
@media (max-width: 979px) and (min-width: 768px) {
	html,
	body {
		padding-top: 0;
		padding-left: 0 !important;
	}
}

@media (max-width: 767px) {
	html,
	body {
		padding-top: 0;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.toolbar-left {
		display: none !important;
	}

	.container-fluid {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}

table {
	background-color: #FFF;
}

.navbar-typo3 {
	background-color: #585858;
	height: 49px;
	color: #fff;
}

.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child,
.table-bordered  {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.toolbar-left {
	text-align: right;
}

input[type="text"] {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.centered {
	position: fixed;
	top: 50px;
	z-index: 100;
	left: 50%;
}

.dropdown-menu {
	text-align: left;
	width: 200px;
	color: #000;
}

.dropdown-menu label {
	padding-left: 25px;
}

table .thumbnail {
	display: block;
	margin: 0px auto;
}

.metadata {
	font-size: 7pt;
	color: rgb(119, 119, 119);
}

form .metadata {
	padding-left: 10px;
}

.center {
	text-align: center;
}

#container-main {
	padding-left: 15px;
}

/* Wrapper for page content to push down footer */
#container-main,
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
.footer {
	height: 60px;
}

.footer {
	background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	.footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.footer-container {
	margin: 20px 0;
	color: #999;
}

.text-light {
	color: #999;
	font-size: 10pt;
}

.container-thumbnail {
	padding-left: 10px;
}

.btn-tool-bar {
	margin-right: 10px;
}

.form-upload .control-group {
	margin-bottom: 0;
}

.container-width {
	text-align: center;
}

.container-height {
	position: relative;
	float: right;
	left: 35px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	writing-mode: lr-tb;
}

.table tbody tr.fade-in td  {
	background: rgba(255, 151, 36, 0.21) !important;
	transition: background .25s ease-in-out;
}

.table tbody tr.fade-out td {
	background: transparent !important;
	transition: background .25s ease-in-out;
}