<html xmlns:f="http://typo3.org/ns/typo3/fluid/viewhelpers"
      xmlns:m="http://typo3.org/ns/TYPO3/CMS/Media/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">

<div id="wrap">

<!-- identifier for the *top* part for identification in the global view -->
<div id="content-header">

	<style type="text/css">
		#slider {
			float: left;
			width: 300px;
			margin: 4px 20px 0 0;
		}

		#echo {
			text-align: left;
			float: left;
			width: 300px;
		}

		.ui-slider-handle {
			outline: none;
		}

		.input-prepend {
			display: inline;
			margin-right: 10px;
		}

		.input-mini {
			text-align: center;
		}

		.tool {
			height: 40px;
		}
	</style>

	<div class="container-fluid navbar-typo3-top">
		<div>
			<div class="row-fluid">
				<div class="span6">
				</div>
				<div class="span6">
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid navbar-typo3-bottom">
		<div>
			<div class="row-fluid">
				<div class="span6">

					<f:render partial="CloseButton"/>

					<!-- update_image -->
					<a href="#" class="btn-create-image" accesskey="s" title="{f:translate(key:'insert_image')}">
						<m:sprite name="extensions-media-image-edit"/>
					</a>
				</div>
				<div class="span6 toolbar-right">

				</div>
			</div>
		</div>
	</div>

</div>


<!-- identifier for the *middle* part for identification in the global view -->
<div id="content-body">
	<div class="container">
		<f:flashMessages/>

		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#" id="resized">
					<f:translate key="resize"/>
				</a>
			</li>
			<li>
				<a href="#" id="crop">
					<f:translate key="crop"/>
				</a>
			</li>
			<li>
				<a href="#" id="effects">
					<f:translate key="effects"/>
				</a>
			</li>
		</ul>

		<div class="tool">
			<div id="slider" class="medium"></div>
			<div id="echo" class="medium">
				<div class="input-prepend">
					<span class="add-on">w</span>
					<input type="text" id="width" class="input-mini">
				</div>
				<div class="input-prepend">
					<span class="add-on">h</span>
					<input type="text" id="height" class="input-mini">
				</div>
			</div>
		</div>

		<div class="container-imageEditor">

			<f:form method="post" name="asset"
			        object="{asset}" id="form-action-imageEditor">

				<div class="container-height"></div>
				<div class="control-group">
					<m:thumbnail file="{asset}"
					             preset="image_medium"
					             attributes="{class: 'processed-file'}"/>
				</div>
				<div class="container-width"></div>


				<f:form.hidden id="file-uid" property="uid"/>
				<div style="visibility: hidden">
					<f:form.submit value="submit"/>
				</div>
			</f:form>
		</div>

	</div>
	<div id="push"></div>
</div>

<!-- identifier for the *footer* part for identification in the global view -->
<div id="content-footer">
	<div class="footer">
		<div class="container">
			<p class="footer-container pull-right">
				<m:form.footer object="{asset}"/>
			</p>
		</div>
	</div>


	<script type="text/javascript">

		$(function() {

			var fileUid = '{asset.uid}' - 0; // cast value to int
			var originalImageWidth = '{asset.width}' - 0;
			var originalImageHeight = '{asset.height}' - 0;
			var maximalImageWidth = '{m:imageDimension(preset: "image_medium", dimension: "width")}' - 0;
			var maximalImageHeight = '{m:imageDimension(preset: "image_medium", dimension: "height")}' - 0;
			var ratio = originalImageWidth / originalImageHeight;
			var imageWidth, imageHeight, _imageWidth, _imageHeight;

			// Compute appropriate width / height given an image can be smaller than "maximalImageWidth".
			_imageWidth = originalImageWidth > maximalImageWidth ? maximalImageWidth : originalImageWidth;
			_imageHeight = originalImageHeight > maximalImageHeight ? maximalImageHeight : originalImageHeight;

			// true for landscape image.
			if (originalImageWidth >= originalImageHeight) {
				imageWidth = _imageWidth;
				imageHeight = Math.ceil(_imageHeight / ratio);
			} else {
				imageWidth = Math.ceil(_imageWidth * ratio);
				imageHeight = _imageHeight
			}

			/**
			 * @see https://github.com/logicmd/jquery-bootstrap-slider
			 */
			$('#slider').slider({
				orientation: "horizontal",
				range: "min",
				min: 50,
				max: imageWidth,
				value: imageWidth,
				slide: function(event, ui) {
					var height;
					$('#width').val(ui.value);
					height = Math.ceil(ui.value / ratio);
					$('#height').val(height);
				},
				change: function(event, ui) {
					$('.processed-file').attr({
						width: $('#width').val(),
						height: $('#height').val()
					})
				}
			});

			/**
			 * Make the height / width input box smarter by connecting them with the slider.
			 */
			$('#width')
					.val(imageWidth)
					.change(function() {
						// Value can not be bigger than maximalImageWidth
						if ($(this).val() > imageWidth) {
							$(this).val(imageWidth);
						}
						$('#slider').slider("value", $(this).val());
						$('#height').val(Math.ceil($(this).val() / ratio));
					})
					.bind('keypress', function(e) {
						if (e.keyCode == 13) {
							$('#width').change();
						}
					});

			$('#height')
					.val(imageHeight)
					.change(function() {
						// Value can not be bigger than maximalImageWidth
						if ($(this).val() > imageHeight) {
							$(this).val(imageHeight);
						}
						var width;
						width = Math.ceil($(this).val() * ratio);
						$('#slider').slider("value", width);
						$('#width').val(width);
					})
					.bind('keypress', function(e) {
						if (e.keyCode == 13) {
							$('#height').change();
						}
					});

			/**
			 * Handler when the "create image" button is clicked.
			 */
			$('.btn-create-image').click(function() {
				var processingConfiguration;

				processingConfiguration = {
					width: $('#width').val(),
					height: $('#height').val()
				};

				// ajax call to create a new Processed File.
				$.ajax({
					type: 'POST',
					url: '{moduleUrl}',
					data: {
						'tx_media_user_mediam1[action]': 'create',
						'tx_media_user_mediam1[controller]': 'ProcessedFile',
						'tx_media_user_mediam1[file]': fileUid,
						'tx_media_user_mediam1[processingConfiguration]': processingConfiguration
					},
					success: function(data) {
						Media.Rte.Popup.createImage(data);
					}
				});
			});

			/**
			 * Prevent the form to be submitted as such.
			 * Fire a click on ".btn-create-image".
			 */
			$('#form-action-imageEditor').submit(function(e) {
				$('.btn-create-image').click();
				e.preventDefault();
			});

		});
	</script>
</div>
</div>

</f:section>
</html>
